parameters:
  level: 7
  paths:
    - app
  ignoreErrors:
    - message: '#Dead catch - Automattic\\WooCommerce\\HttpClient\\HttpClientException is never thrown in the try block#'
      path: app/Services/ErrorHandlerService.php
    - message: '#Dead catch - App\\Exceptions\\BotException is never thrown in the try block#'
      path: app/Services/ErrorHandlerService.php
    - message: '#Access to an undefined property object::\$id#'
    - message: '#Access to an undefined property object::\$total#'
    - message: '#Access to an undefined property object::\$coupon_lines#'